:root {
  --color-html: rgb(228, 77, 38);
  --color-css: rgb(38, 77, 228);
  --color-javascript: rgb(228, 161, 38);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  background: #000;
  color: #fff;
}

.header {
  background-image: url(../img/html-css-js.webp);
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

.header-inner {
  background-color: rgba(255,255,255, 0.6);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: rgb(0,0,0);
  max-width: 80vw;
}

section {
  margin: 10rem 0;
  display: flex;
  justify-content: center;
  position: relative;
}

section > div {
 width: 80vw;
 max-width: 960px;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

a {
  color: inherit;
}

a:hover {
 color: darkgrey;
}

li {
  margin: 1rem 0;
}

li li {
  margin: 0.3rem 0;
}

.two-col {
  display: flex;
  flex-direction: row;
}

.two-col > div {
  padding: 2rem;
}

.container--wrapped {
}

.container--wrapped h2 {
  display: none;
}

.container--wrapped::before,
.container--wrapped::after {
  position: relative;
  font-size: 3rem;
  left: -30px;
}

.container--wrapped::before {
  content: attr(data-before);
}

.container--wrapped::after {
  content: attr(data-after);
}

.header .html,
.html::after, .html::before {
  color: var(--color-html);
}

.background-logo {
  position: relative;
}


.background-logo::after {
  content: '';
  position: absolute;
  top: -100px;
  right: -100px;
  width: 200px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.4;
}

.background-logo--html::after {
  background-image: url(../img/html5.svg);
  width: 260px;
}

.background-logo--css::after {
  background-image: url(../img/css3.svg);
}

.background-logo--javascript::after {
  background-image: url(../img/javascript.svg);
}

.header .css,
.css::after, .css::before {
  color: var(--color-css);
}

.header .javascript,
.javascript::after, .javascript::before {
  color: var(--color-javascript);
}
